* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

img {
    width: 250px;
    height: 250px;
}

.content {
    display: flex;
    flex-wrap: wrap;
}

.card {
    padding: 2px;
    min-height: 200px;
    min-width: 200px;
    border: 1px solid black;
    margin: 3px
}

.center {
    font-weight: bold;
    font-size: 15px;
    height: 250px;
    width: 250px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}