* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #eee;
}

img {
    width: 250px;
    height: 250px;
    box-shadow: 0 0 10px #393939;
    border-radius: 8px;
}

img[src="images/black.jpeg"] {
    opacity: 0.9;
}

.content {
    margin: 20px 0 10px;
    display: flex;
    justify-content: space-around;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 8vh 3vw;
}

.info {
    margin-bottom: .5em;
    font-weight: bold;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info .current {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 2em;
}

.top-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5em;
    margin: .5em 3em;
}

.top-info button {
    visibility: hidden;
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #fff;
    font-size: 1em;
}

.progress {
    display: flex;
    justify-content: center;
}

#bar {
    width: 150px;
    border-radius: 100px;
    background-color: #ddd;
}

#progress {
    width: 150px;
    border-radius: 100px;
    height: 20px;
    background-color: #27982f;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#content {
    flex: 1;
}

footer {
    text-align: right;
    margin: 10px;
    font-size: 1.2em;
    font-style: italic;
    color: #1d1d1d;
}


@media all and (max-width: 700px ) {
    img {
        width: 110px;
        height: 110px;
    }

    .grid-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: .8em 8vw;
    }

    .top-info {
        margin: .5em;
    }

    .info {
        font-size: 1em;
    }
}

@media screen and (min-width: 700px) and (max-width: 900px) {
    img {
        width: 150px;
        height: 150px;
    }
}


@media screen and (min-width: 900px) and (max-width: 1200px){
    img {
        width: 200px;
        height: 200px;
    }
}
